*.class
/18_UIBuscaminas/nbproject/private/
/18_UIBuscaminas/build/
/JavaApplication2/nbproject/private/
/ConexionBaseDatos/nbproject/private/
/ConexionBaseDatos/build/
/20 - Registro Usuarios2/build/
/20 - Registro Usuarios2/nbproject/private/
